---
  import BaseLayout from "../layouts/BaseLayout.astro";

  const pageTitle = "Web Design"
---

<BaseLayout title={pageTitle}>

  <div class="hero">
    <h1 class="hero__heading">{pageTitle}</h1>
    <p class="hero__text">We build websites that serve as powerful marketing tools and bring
      memorable brand experiences.</p>
  </div>


  Express
  A multi-carrier shipping website for ecommerce businesses

  Transfer
  Site for low-cost money transfers and sending money within seconds

  Photon
  A state-of-the-art music player with high-resolution audio and DSP effects

  Builder
  Connects users with local contractors based on their location

  Blogr
  Blogr is a platform for creating an online blog or publication

  Camp
  Get expert training in coding, data, design, and digital marketing

  App Design
  View Projects

  Graphic Design
  View Projects
</BaseLayout>