// Font Colors
.text-primary-peach {
  color: var(--color-primary-peach)
}

.text-primary-black {
  color: var(--color-primary-black);
}

.text-primary-white {
  color: var(--color-primary-white)
}

.text-secondary-light-peach {
  color: var(--color-secondary-light-peach);
}
.text-secondary-dark-grey {
  color: var(--color-secondary-dark-grey);
}
.text-secondary-light-grey {
  color: var(--color-secondary-light-grey);
}

// Background Colors
.bg-primary-peach {
  background-color: var(--color-primary-peach)
}

.bg-primary-black {
  background-color: var(--color-primary-black)
}

.bg-primary-white {
  background-color: var(--color-primary-white)
}

.bg-secondary-light-peach {
  background-color: var(--color-secondary-light-peach);
}
.bg-secondary-dark-grey {
  background-color: var(--color-secondary-dark-grey);
}
.bg-secondary-light-grey {
  background-color: var(--color-secondary-light-grey);
}

.round-base {
  border-radius: var(--component-radius);
}

.round-lg {
  border-radius: 15px;
}