.wrapper {
  width: 80vw;
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;
  position: relative;
}


@media (min-width: 768px) {
  .header > * {
    width: auto;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-row {
  grid-auto-flow: row;
}

.grid-col {
  grid-auto-flow: column;
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-bold {
  font-weight: var(--font-bold);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.btn {
  display: block;
  font-size: var(--font-size-sm);
  letter-spacing: 2px;
  padding: 1.25em 1.5em;
  border-radius: var(--component-radius);
  text-align: center;
  color: var(--btn-color, black);
  background: var(--btn-bg, white);

  &:where([data-type="light"]) {
    --btn-color: var(--color-primary-black);
    --btn-bg: var(--color-primary-white);
    transition: background-color 300ms ease-out;


    &:where(:hover, :focus-within) {
      background-color: var(--color-secondary-light-peach);
    }
  }

  &:where([data-type="peach"]) {
    color: var(--color-primary-white);
    background-color: var(--color-primary-peach);
    transition: opacity 300ms ease-out;

    &:where(:hover, :focus-within) {
      opacity: .7;
    }
  }
}


.nav-item {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: width 100ms ease-out;
    background-color: var(--nav-border-bottom-color, white);

  }

  &:where(:hover, :focus-within)::after {
    width: 100%;
  }

}
  