---
  const { text, btnType } = Astro.props;

---

<button  class:list={
  ["btn | text-primary-white font-medium text-uppercase pointer round-base"]}
  data-type={btnType}> 
  {text}
</button>

<style lang="scss">
  .btn {
    display: block;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    padding: 1.25em 1.5em;

    color: var(--textColor, white);
    background-color: var(--bgColor, black);
    transition: background-color 150ms ease-out;
  }

  .btn[data-type="light"] {
    --textColor: var(--color-primary-black);
    --bgColor: var(--color-primary-white);
    
    &:where(:hover, :focus-within) {
      --bgColor: var(--color-secondary-light-peach, white);
      --textColor: white;
    }
  }

  .btn[data-type="peach"] {
    --textColor: var(--color-primary-white);
    --bgColor: var(--color-primary-peach);

    &:where(:hover, :focus-within) {
      opacity: .7;
      --bgColor: var(--color-secondary-light-peach, white);
      --textColor: white;
    }
  }
</style>